---
import { getCollection } from "astro:content";
import ContentLayout from "@layouts/ContentLayout.astro";
import "@style/style.css";

const notesEntries = await getCollection("notes");

const branches = new Set<string>();
const sems = new Set<number>();

const subjects: {
	[index: string]: {
		branches: (
			| "csf"
			| "cs"
			| "csc"
			| "is"
			| "ri"
			| "me"
			| "aids"
			| "aiml"
			| "cv"
			| "ece"
			| "ee"
		)[];
		sem: number;
		name: string;
	};
} = {};

notesEntries.forEach((entry) => {
	sems.add(entry.data.sem);
	entry.data.branches.forEach((branch: string) => {
		branches.add(branch);
	});
	subjects[entry.data.subject] = {
		branches: entry.data.branches,
		sem: entry.data.sem,
		name: entry.data.subject,
	};
});
---

<ContentLayout title="notes|nmamitloop">
	<main>
		<section>
			<h3>Choose the sem:</h3>
			<fieldset id="sem-selector">
				<legend>Sem</legend>
				{
					Array.from(sems).map((sem) => (
						<span class="option">{sem}</span>
					))
				}
			</fieldset>
		</section>
		<section>
			<h3>Choose the branch:</h3>

			<fieldset id="branch-selector">
				<legend>Branch</legend>
				{
					Array.from(branches).map((branch) => (
						<span class="option">{branch}</span>
					))
				}
			</fieldset>
		</section>
		<section class="subjects-conatiner">
			{
				Object.values(subjects).map((subject) => (
					<a
						href={`/nmamitloop/notes/subjects/${subject.name}`}
						data-sem={subject.sem}
						data-branches={JSON.stringify(subject.branches)}
						class="subject"
					>
						{subject.name}
					</a>
				))
			}
		</section>
	</main>
</ContentLayout>

<style>
	.subjects-conatiner {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	.subject {
		padding: 1rem;
		background-color: rgba(255, 255, 255, 0.2);
		border-radius: 5px;
	}

	.hide {
		display: none;
	}
</style>

<script>
	//https://stackoverflow.com/questions/73511984/how-do-i-pass-a-server-variable-to-client-side-js-in-astro
	const branchOptions = document.querySelectorAll("#branch-selector .option");
	const semOptions = document.querySelectorAll("#sem-selector .option");
	const subjects = document.querySelectorAll(".subject");

	let branchSelected: string | null;
	let semSelected: string | null;

	branchOptions.forEach((ele) => {
		ele.addEventListener("click", (event) => {
			if (event.target instanceof HTMLElement)
				updateUI(event.target.textContent, semSelected);
		});
	});

	semOptions.forEach((ele) => {
		ele.addEventListener("click", (event) => {
			if (event.target instanceof HTMLElement)
				updateUI(branchSelected, event.target.textContent);
		});
	});

	function updateUI(branch: string | null, sem: string | null) {
		let isUpdated: boolean = false;
		
		if (branch != branchSelected) {
			branchSelected = branch;
			branchOptions.forEach((element) => {
				if (branchSelected == element.textContent) {
					element.classList.add("selected");
				} else element.classList.remove("selected");
			});
			isUpdated = true;
		}

		if (sem != semSelected) {
			semSelected = sem;
			semOptions.forEach((element) => {
				if (semSelected == element.textContent) {
					element.classList.add("selected");
				} else element.classList.remove("selected");
			});
			isUpdated = true;
		}

		if (isUpdated) {
			subjects?.forEach((subject) => {
				if (!(subject instanceof HTMLElement)) return;
				if (
					JSON.parse(subject.dataset.branches || "").indexOf(
						branch,
					) !== -1 &&
					subject.dataset.sem == sem
				) {
					subject.classList.remove("hide");
				} else subject.classList.add("hide");
			});
		}
	}

	updateUI(branchOptions[0].textContent, semOptions[0].textContent);
</script>
